.search section[role=main] {
    /* Define a grid with rows for the filters, spacing and results */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 16px 1fr;
    display: -ms-grid;
}

    .search section[role=main] .filterarea {
        -ms-grid-row: 1;
    }

        .search section[role=main] .filterarea .filterbar {
            height: auto;
            list-style-type: none;
            margin-left: 80px;
            margin-top: 0;
            max-width: calc(100% - 120px);
        }

            .search section[role=main] .filterarea .filterbar li {
                display: inline;
                font-family: "Segoe UI Light";
                font-size: 20pt;
                line-height: 24pt;
                margin-right: 40px;
            }

    .search section[role=main] .resultslist .win-horizontal.win-viewport .win-surface {
        margin-left: 110px;
        margin-bottom: 60px;
    }

    .search section[role=main] .resultslist {
        -ms-grid-row: 3;
        height: 100%;
        padding-bottom: 36px;
        position: relative;
        width: 100%;
        z-index: 0;
    }

        .search section[role=main] .resultslist .win-horizontal.win-viewport .win-container {
            margin-bottom: 22px;
            margin-right: 40px;
        }

        .search section[role=main] .resultslist .win-item {
            height: 64px;
            margin-top: 2px;
            margin-left: 7px;
            width: 340px;
        }

        .search section[role=main] .resultslist .item {
            /* Define a grid with columns for an icon, spacing and item details */
            -ms-grid-columns: 42px 8px 1fr;
            -ms-grid-rows: 1fr;
            display: -ms-grid;
            height: 100%;
            width: 100%;
        }

            .search section[role=main] .resultslist .item .item-image {
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                height: 40px;
                margin-top: 5px;
                width: 40px;
            }

            .search section[role=main] .resultslist .item .item-content {
                -ms-grid-column: 3;
                -ms-grid-row: 1;
            }

                .search section[role=main] .resultslist .item .item-content .item-subtitle, .search section[role=main] .resultslist .item .item-content .item-description {
                    opacity: 0.6;
                }

.search header[role=banner] .titlearea {
    -ms-grid-column: 2;
    margin-top: 43px;
}

    .search header[role=banner] .titlearea .pagetitle {
        display: inline;
        padding: 0;
        padding-right: 30px;
    }

    .search header[role=banner] .titlearea .pagesubtitle {
        display: inline;
        margin: 0;
        padding: 0;
    }

/* Define a style for both selected filters and text matching the query. */
.search .highlight, .search mark {
    background: transparent;
    color: rgba(90, 183, 227, 1);
}

/* Hide the <select> filter list. It will be shown in snapped mode only. */
.search .filterselect {
    display: none;
}

@media screen and (-ms-view-state: snapped) {
    .search header[role=banner] .titlearea {
        margin-top: 72px;
    }

    .search section[role=main] {
        /* Rows for the filters, spacing, and the results */
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 40px 28px 1fr;
        display: -ms-grid;
    }

        /* Hide the horizontal list of filters in snapped mode. */
        .search section[role=main] .filterarea .filterbar {
            display: none;
        }

        /* Show a <select> list of filters in snapped mode */
        .search section[role=main] .filterarea .filterselect {
            display: inline;
            margin-left: 20px;
            max-width: calc(100% - 38px);
        }

        .search section[role=main] .resultslist .win-vertical.win-viewport .win-surface {
            margin-left: 10px;
            margin-bottom: 60px;
        }

        .search section[role=main] .resultslist .win-vertical.win-viewport .win-container {
            margin-right: 31px;
            margin-bottom: 22px;
            margin-top: 4px;
        }

        .search section[role=main] .resultslist .win-item {
            height: 64px;
            width: 280px;
        }

        .search section[role=main] .resultslist .item {
            /* Define a grid with columns for an icon, spacing and item details */
            -ms-grid-columns: 42px 12px 1fr;
            -ms-grid-rows: 1fr;
            display: -ms-grid;
            height: 100%;
            width: 100%;
        }

    .search header[role=banner] .pagetitle {
        /* Update the page title to be smaller in snapped mode */
        height: 30px;
        margin-top: 0;
        width: 270px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .search section[role=main] .resultslist .win-horizontal.win-viewport .win-surface {
        margin-left: 90px;
    }
}
